@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "hamburgers.css";
.navbar {
  border-bottom: 1px solid #363532;
  background-color: transparent;
  padding: 2rem 0;
}
.navbar-brand {
  padding: 0;
  z-index: 11;
}
.navbar-collapse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background: #181A1D;
  padding: 5.625rem 1.25rem 0 1.25rem;
  z-index: 10;
}
.navbar-collapse > div {
  height: 100vh;
}
.navbar .hamburger {
  padding: 0;
  z-index: 11;
}
.navbar .hamburger-box {
  width: 1.25rem;
  height: 1rem;
}
.navbar .hamburger-inner {
  background-color: #fff;
  width: 1.25rem;
  height: 0.125rem;
}
.navbar .hamburger-inner:before, .navbar .hamburger-inner:after {
  background-color: #fff !important;
  width: 1.25rem;
  height: 0.125rem;
}
.navbar .hamburger-inner:before {
  top: 0.375rem;
}
.navbar .hamburger-inner:after {
  top: 0.75rem;
}
.navbar .hamburger.is-active-inner:before, .navbar .hamburger.is-active-inner:after {
  background-color: #C9C1BC;
  top: -0.375rem;
}
.navbar .hamburger:focus {
  box-shadow: none;
}
.navbar .moda-btn {
  color: #121316;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  background-color: #FFB84A;
  border-radius: 0.375rem;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  width: 100%;
}
.navbar .moda-btn:hover {
  background: #F4F5F6;
}
.navbar .moda-btn:focus {
  box-shadow: none;
}
.navbar .nav-text {
  margin-bottom: 2.25rem;
  margin-top: 0.625rem;
  padding-left: 0.5rem;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #FFB84A;
}
.navbar-nav .nav-item a {
  padding: 0.625rem 0.5rem;
  color: #C9C1BC;
  font-size: 1rem;
  font-family: "SF Pro Display", sans-serif;
  line-height: 1.5;
}
.navbar-nav .nav-item a:hover {
  color: #FFB84A;
}
@media (min-width: 768px) {
  .navbar {
    padding: 1rem 0;
  }
  .navbar-collapse {
    position: static;
    width: auto;
    background: transparent;
    padding: 0;
  }
  .navbar-collapse > div {
    height: auto;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .navbar-nav .nav-item {
    margin-right: 2.5rem;
    margin-top: 0.375rem;
  }
  .navbar-nav .nav-item:last-of-type {
    margin-right: 0;
  }
  .navbar-nav .nav-item:nth-of-type(2) {
    padding-left: 2.5rem;
    border-left: 1px solid #fff;
  }
  .navbar-nav .nav-item a {
    padding: 0;
    color: #fff;
    font-size: 0.875rem;
    font-family: "SF Pro Display", serif;
    line-height: 1;
    font-weight: 400;
  }
  .navbar .moda-btn {
    background-color: #fff;
    width: auto;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  .navbar .moda-btn:hover {
    background: #F4F5F6;
  }
  .navbar .moda-btn:focus {
    box-shadow: none;
  }
  .navbar .nav-text {
    margin-bottom: 0;
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    color: #fff;
    margin-right: 2rem;
  }
}
@media (min-width: 960px) {
  .navbar {
    padding: 1rem 0;
  }
  .navbar-brand {
    padding: 0;
    margin-right: 2.5rem;
  }
  .navbar-nav .nav-item .nav-link {
    padding: 0;
  }
  .navbar .moda-btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .navbar {
    padding: 1rem 0;
  }
}
@media (min-width: 1400px) {
  .navbar {
    padding: 1rem 0;
  }
}

.modal-content {
  background: #272625;
  box-shadow: 10px 20px 50px rgba(19, 18, 17, 0.25);
  border-radius: 16px;
}
.modal-header {
  padding: 1.875rem;
  border: none;
  border-radius: 0;
}
.modal-header .btn-close {
  width: 0.75rem;
  height: 0.75rem;
  background-image: url("../img/close-icon.svg");
  background-size: cover;
  padding: 0;
}
.modal-header .btn-close:focus {
  box-shadow: none !important;
}
.modal-body {
  border: none;
  padding: 0.625rem 1.875rem 1.875rem 1.875rem;
  color: #C9C1BC;
  font-family: "SF Pro Display", sans-serif;
}
.modal-body__success-message {
  padding: 5rem 4rem;
  text-align: center;
}
.modal-title {
  font-weight: 600;
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 0.75rem;
  line-height: 1.33;
  color: #fff;
}
.modal-subtitle {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.66;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #fff;
}
.modal-text {
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 400;
}
.modal-text small {
  font-size: 1rem;
}
.modal-form {
  margin-bottom: 2.75rem;
}
.modal-form__label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
}
.modal-form__control {
  background: #FFECCF;
  border-radius: 6px;
  padding: 0.875rem 1rem;
  color: #121316;
  font-size: 0.875rem;
  line-height: 1.5;
  width: 100%;
  border: none;
  height: 3rem;
}
.modal-form__control:focus {
  outline: none;
  border: none;
}
.modal-form__control::placeholder {
  color: #7B7673;
}
.modal-form .btn-warning {
  width: 100%;
  margin-top: 2rem;
}
.modal__icon-box {
  width: 4rem;
  height: 4rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem auto;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 29.5rem;
  }
  .modal-body {
    border: none;
    padding: 0.625rem 4rem 3.75rem 4rem;
  }
  .modal-body__success-message {
    padding: 5rem 4rem;
    text-align: center;
  }
}

/* Buttons */
.btn-warning {
  background: #FFB84A;
  color: #121316;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
}
.btn-warning.disabled {
  opacity: 0.2;
}
.btn-warning:hover {
  background: #ffcd80;
}
.btn-warning:focus, .btn-warning:active {
  box-shadow: none !important;
  outline: none !important;
}

.btn-outline-light {
  background: transparent;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
}
.btn-outline-light.disabled {
  color: #4F4C4A;
  border-color: #4F4C4A;
}
.btn-outline-light:hover {
  border-color: #FFB84A;
  color: #FFB84A;
  background: transparent;
}
.btn-outline-light:focus, .btn-outline-light:active {
  box-shadow: none !important;
  outline: none !important;
}

/* End buttons style */
/* Text */
.section-title {
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.2;
}

.section-subtitle {
  color: #fff;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.2;
}

.section__above-title {
  letter-spacing: 0.03rem;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.75rem;
  color: #FFB84A;
}
.section__above-title span:first-of-type {
  color: #2A999A;
}
.section__above-title span:last-of-type {
  color: #C1461B;
}

.main-text {
  color: #C9C1BC;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
}

/*Ens texts style*/
/*Sections background*/
.bg-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(50px);
  z-index: -1;
}
.bg-wrapper .bg-img {
  max-width: 100% !important;
  width: 100%;
}

body {
  position: relative;
}
body:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/bg/hero-bg.svg") top right no-repeat;
  filter: blur(225px);
  z-index: -1;
}
body:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(18, 19, 22, 0.9);
  z-index: -1;
}

.hero {
  padding: 2.5rem 0 6rem 0;
}
.hero-title {
  color: #fff;
  font-size: 2.25rem;
  line-height: 1.33;
  font-weight: 700;
  margin-bottom: 0.75rem;
  max-width: 24rem;
}
.hero .main-text {
  margin-bottom: 1.25rem;
  max-width: 22rem;
}
.hero .btn-wrapper {
  margin-bottom: 2rem;
}
.hero .btn-wrapper .btn-warning, .hero .btn-wrapper .btn-outline-light {
  width: 100%;
  margin-bottom: 0.75rem;
}
.hero .btn-wrapper > p {
  font-size: 1rem;
  color: #C9C1BC;
  font-style: italic;
  line-height: 1.75rem;
  margin-right: 1rem;
  margin-bottom: 0;
}
.hero .btn-wrapper .download-link:first-of-type {
  margin-right: 0.875rem;
}
.hero-img-wrapper {
  position: relative;
  padding-bottom: 6rem;
}
.hero-phone {
  max-width: 7.3125rem;
  position: relative;
}
.hero-phone:first-of-type {
  z-index: 3;
  left: 1.5rem;
}
.hero-phone:last-child {
  top: 5.75rem;
}

.testimonials {
  padding-bottom: 6rem;
  position: relative;
}
.testimonials .section-title {
  margin-bottom: 0.75rem;
}
.testimonials .section-title br {
  display: none;
}
.testimonials .main-text {
  text-align: center;
  margin-bottom: 2.5rem;
}
.testimonials-carousel {
  max-width: 1300px;
  margin: 0 -1rem 0 auto;
  padding-bottom: 3.5rem;
  padding-right: 1rem;
}
.testimonials .swiper-pagination {
  bottom: 0;
}
.testimonials .swiper-pagination-bullet {
  width: 0.375rem;
  height: 0.375rem;
  background-color: #7B7673;
}
.testimonials .swiper-pagination-bullet-active {
  background-color: #FFB84A;
}
.testimonials .swiper-slide {
  width: 280px;
  height: auto;
}
.testimonials-card {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.testimonials-card__text {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 3.125rem;
}
.testimonials-card .user-info {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials-card .user-info__name, .testimonials-card .user-info__age {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 0;
}
.testimonials-card .user-info__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.about {
  margin-bottom: 6rem;
}
.about .section-title {
  margin: 0 auto 5.375rem auto;
  max-width: 40rem;
}
.about .section-subtitle {
  margin-bottom: 0.75rem;
}
.about .section-subtitle br {
  display: none;
}
.about .main-text {
  margin-bottom: 1.5rem;
}
.about .feature-list {
  margin-bottom: 1.5rem;
}
.about .feature-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
}
.about .feature-list__item span:first-of-type {
  width: 3rem;
  height: 3rem;
  background: #202124;
  border-radius: 0.375rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.about .feature-list__item:last-of-type {
  margin-bottom: 1.5rem;
}
.about__right-side, .about__left-side {
  position: relative;
}
.about__right-side .pulse__wrapper, .about__left-side .pulse__wrapper {
  position: absolute;
  z-index: 2;
}
.about__right-side .pulse__wrapper .pulse, .about__left-side .pulse__wrapper .pulse {
  position: relative;
}
.about__right-side .pulse__wrapper .pulse img, .about__left-side .pulse__wrapper .pulse img {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  object-fit: cover;
}
.about__right-side .pulse__wrapper .pulse:before, .about__right-side .pulse__wrapper .pulse:after, .about__left-side .pulse__wrapper .pulse:before, .about__left-side .pulse__wrapper .pulse:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  left: 0;
  z-index: -1;
}
.about__right-side .pulse__wrapper .pulse:before, .about__left-side .pulse__wrapper .pulse:before {
  animation: pulse 2s ease-out infinite;
}
.about__right-side .pulse__wrapper .pulse:after, .about__left-side .pulse__wrapper .pulse:after {
  animation: pulse 2s 0.5s ease-out infinite;
}
.about__left-side {
  margin-left: 1.25rem;
  margin-right: 0.5625rem;
}
.about__left-side .pulse__wrapper {
  bottom: 22%;
  left: 0;
  transform: translate(-50%, 0);
}
.about__right-side {
  margin-right: 1.25rem;
  margin-left: 0.5625rem;
}
.about__right-side .pulse__wrapper {
  top: -2%;
  right: -2%;
}
.about .row:first-of-type {
  margin-bottom: 3rem;
}
.about .row:first-of-type img {
  max-width: 12rem;
}
.about .row:nth-of-type(2) {
  position: relative;
}
.about .row:nth-of-type(2) .bg-wrapper {
  width: 75%;
  left: -15%;
}
.about .row:nth-of-type(2) .feature-list {
  margin-bottom: 3rem;
}

.section-video {
  margin-bottom: 6rem;
}
.section-video .section-title {
  color: #FFB84A;
  text-align: left;
  margin-bottom: 0.75rem;
}
.section-video .main-text {
  margin-bottom: 2.5rem;
}
.section-video .ratio {
  max-width: 62rem;
  margin: auto;
  position: relative;
  cursor: pointer;
}
.section-video .ratio #filter-video {
  border-radius: 1rem;
}
.section-video .ratio #filter-video[poster] {
  object-fit: cover;
}
.section-video .ratio .play-btn {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.5s ease-in-out;
}
.section-video .ratio .play-btn:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.features {
  padding-bottom: 6rem;
}
.features .bg-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.features .section__above-title {
  text-align: center;
}
.features .section-title {
  margin-bottom: 2rem;
}
.features .features-slider-img {
  height: 24.125rem;
  margin-bottom: 2.5rem;
}
.features .features-slider-img .swiper-slide {
  height: 24.125rem;
}
.features .features-slider-img img {
  display: block;
  margin: auto;
  max-height: 100%;
  object-fit: cover;
}
.features .features-slider-text .swiper-pagination {
  width: 1px;
  background: #2A2B36;
  opacity: 0;
}
.features .features-slider-text .swiper-pagination-progressbar-fill {
  background: linear-gradient(180deg, #FFB84A 0%, rgba(255, 184, 74, 0) 100%);
}
.features .features-slider-text .swiper-wrapper {
  padding: 0 0.625rem;
  position: relative;
}
.features .features-slider-text #slide-item__number {
  color: #FFB84A;
  font-size: 0.875rem;
  line-height: 1.29;
  margin-bottom: 0.75rem;
  padding-left: 0.625rem;
}
.features .features-slider-text .slide-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features .features-slider-text .slide-item__content {
  display: flex;
  flex-direction: column;
}
.features .features-slider-text .slide-item__title {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.375rem;
  color: #fff;
  font-weight: 500;
}
.features .features-slider-text .slide-item__above-title {
  color: #FFB84A;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}
.features .features-slider-text .swiper-slide {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
.features .features-slider-text .swiper-slide .slide-item__number {
  opacity: 0;
}
.features .features-slider-text .swiper-slide.swiper-slide-active {
  opacity: 1;
}
.features .features-slider-text .swiper-slide.swiper-slide-active .slide-item__number {
  opacity: 1;
}
.features .features-slider-text .swiper-slide-next ~ .swiper-slide .slide-item__text {
  background: linear-gradient(180deg, #6B7280 0%, rgba(107, 114, 128, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.how-it-works {
  padding-bottom: 6rem;
}
.how-it-works .section__above-title {
  text-align: center;
}
.how-it-works .section-title {
  margin-bottom: 3.5rem;
}
.how-it-works .cards-wrapper {
  position: relative;
  max-width: 75rem;
  margin: auto;
}
.how-it-works .card {
  max-width: 15.8125rem;
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin: 0 auto 3.5rem auto;
  padding: 0;
}
.how-it-works .card:last-of-type {
  margin: 0 auto;
}
.how-it-works .card-header {
  width: 5rem;
  height: 5rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2.5rem auto;
}
.how-it-works .card-header img {
  max-width: 2rem;
}
.how-it-works .card-body {
  padding: 0;
  text-align: center;
}
.how-it-works .card-subtitle {
  color: #7B7673;
  font-size: 0.875rem;
  line-height: 1.28;
  margin-bottom: 2rem;
  font-weight: 500;
}
.how-it-works .card-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.125rem;
}
.how-it-works .card-text {
  color: #C9C1BC;
  font-size: 1.125rem;
}
.how-it-works .card-text a {
  color: #FFB84A;
  text-decoration: none;
}
.how-it-works .dashed-line {
  height: 2px;
  position: absolute;
  top: 2.5rem;
  display: none;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 0%);
  background-size: 25px 1px;
}
.how-it-works .dashed-line:before, .how-it-works .dashed-line:after {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.6);
  display: block;
  position: absolute;
  top: calc(50% - 0.375rem);
}
.how-it-works .dashed-line:before {
  left: -1.75rem;
}
.how-it-works .dashed-line:after {
  right: -1.75rem;
}

.plans {
  padding-bottom: 6rem;
}
.plans .wrapper {
  background: #272625;
  border-radius: 1.5rem;
  padding-top: 3rem;
  text-align: center;
  margin-bottom: 7.75rem;
}
.plans .section-title {
  margin: 0 auto 0.75rem auto;
  max-width: 90vw;
}
.plans .main-text {
  margin: 0 auto 3rem auto;
  max-width: 21.5rem;
}
.plans .btn-warning {
  width: calc(100% - 3rem);
  display: block;
  margin: auto;
}
.plans .plan-cards-wrapper {
  display: flex;
  flex-direction: row;
  margin: -7.75rem 0.75rem 0 0.75rem;
  position: relative;
  bottom: -7.75rem;
}
.plans .plan-card {
  background: #181A1D;
  border-radius: 1rem;
  margin-bottom: 2rem;
  min-height: 15.8125rem;
  padding: 1.25rem;
  color: #fff;
}
.plans .plan-card__header {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #272625;
  border: 1px solid #7B7673;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}
.plans .plan-card__header img {
  width: 33px;
}
.plans .plan-card__header img.plan-card__header-single {
  width: 11px;
}
.plans .plan-card__header img.plan-card__header-duo {
  width: 22px;
}
.plans .plan-card__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}
.plans .plan-card__text {
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.4;
}
.plans .plan-card__text small {
  color: #C9C1BC;
  font-size: 1rem;
  margin-bottom: 0;
}
.plans .plan-card__text:nth-of-type(2) {
  margin-top: 0;
}

.section-support {
  padding-bottom: 3rem;
}
.section-support .section__above-title {
  text-align: center;
}
.section-support .section-title {
  max-width: 90%;
  margin: 0 auto 1.5rem auto;
}
.section-support .accordion-item {
  background-color: transparent;
  border-bottom: none;
  border-top: 1px solid #272625;
}
.section-support .accordion-item:first-of-type {
  border-top: 1px solid #272625;
}
.section-support .accordion-button {
  background-color: transparent;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.55;
  color: #fff;
  padding: 1.5rem 0;
  transition: padding 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.section-support .accordion-button:after {
  background-image: url("../img/chevron-down.svg");
}
.section-support .accordion-button:focus {
  box-shadow: none;
}
.section-support .accordion-button:hover {
  padding-left: 0.75rem;
}
.section-support .accordion-body {
  padding: 0 1.25rem 1.5rem 0;
  color: #C9C1BC;
  font-size: 1.125rem;
  line-height: 1.5;
}

.banner {
  padding-bottom: 6rem;
}
.banner-wrapper {
  background: #272625;
  border-radius: 1.5rem;
  padding: 1.5rem;
}
.banner .section-subtitle {
  text-align: left;
  margin-bottom: 0.75rem;
}
.banner .section-subtitle br {
  display: none;
}
.banner .main-text {
  margin-bottom: 2rem;
}
.banner .btn-warning {
  width: 100%;
}

footer {
  padding-bottom: 3rem;
}
footer .navbar {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}
footer .navbar-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-bottom: 2.5rem;
}
footer .navbar-list .nav-item {
  padding: 0 1.25rem;
  margin-bottom: 1rem;
}
footer .navbar-list .nav-item:last-of-type {
  padding: 0;
}
footer .navbar-list .nav-link {
  padding: 0;
  color: #C9C1BC;
  font-size: 1rem;
  line-height: 1.3125;
}
footer .navbar-list:nth-of-type(2) {
  flex-direction: column;
}
footer .navbar-list:nth-of-type(2) .nav-link {
  color: #FFB84A;
  text-align: center;
  font-weight: 700;
}
footer .navbar-bottom {
  font-family: "Inter", sans-serif;
  color: #C9C1BC;
  font-size: 1rem;
}
footer .navbar-bottom p {
  margin-bottom: 0;
}
footer .navbar-bottom p:first-of-type {
  margin-bottom: 2rem;
}
footer .navbar-bottom a {
  font-size: 0.875rem;
  color: #C9C1BC;
}

@media (min-width: 520px) {
  .hero .btn-wrapper .btn-warning, .hero .btn-wrapper .btn-outline-light {
    width: auto;
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .testimonials .section-title br {
    display: block;
  }

  .about .section-subtitle br {
    display: block;
  }
  .about .feature-list__item:last-of-type {
    margin-bottom: 0;
  }
  .about__right-side .pulse__wrapper .pulse img, .about__left-side .pulse__wrapper .pulse img {
    width: 3.75rem;
    height: 3.75rem;
  }
}
@media (min-width: 768px) {
  .hero {
    padding: 4rem 0;
  }
  .hero .section__above-title {
    margin-bottom: 1rem;
  }
  .hero .btn-wrapper .btn-warning, .hero .btn-wrapper .btn-outline-light {
    margin-right: 1.5rem;
  }

  .testimonials {
    padding: 4rem 0;
  }
  .testimonials .section-title {
    margin-bottom: 1rem;
  }
  .testimonials .main-text {
    margin-bottom: 3.5rem;
  }
  .testimonials-carousel {
    margin: 0 -1.5rem 0 auto;
    padding-right: 1.5rem;
  }

  .about .feature-list__item {
    font-size: 1rem;
  }
  .about .row:first-of-type {
    margin-bottom: 6rem;
  }

  .section-video {
    margin-bottom: 4rem;
  }
  .section-video .section-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  .section-video .main-text {
    margin: 0 auto 2.5rem auto;
    text-align: center;
    max-width: 37.75rem;
  }
  .section-video .ratio .play-btn {
    width: 5.25rem;
    height: 5.25rem;
  }

  .features {
    padding: 4rem 0;
  }
  .features .section-title {
    margin-bottom: 3rem;
    text-align: left;
  }
  .features .section__above-title {
    text-align: left;
  }
  .features .features-slider-text {
    max-height: 33rem;
  }
  .features .features-slider-text .swiper-pagination {
    opacity: 1;
  }
  .features .features-slider-text .swiper-wrapper {
    padding-left: 1.25rem;
  }
  .features .features-slider-text .slide-item {
    display: flex;
    flex-direction: row;
  }
  .features .features-slider-text .slide-item__content {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    font-weight: 500;
  }
  .features .features-slider-text .slide-item__title {
    font-size: 1.25rem;
  }
  .features .features-slider-text .slide-item__text {
    font-size: 0.875rem;
  }
  .features .features-slider-text #slide-item__number {
    position: absolute;
    left: 1rem;
    top: 4rem;
  }
  .features .features-slider-img {
    height: 28rem;
  }

  .plans .btn-warning {
    width: auto;
  }
  .plans .section__above-title, .plans .section-title, .plans .main-text {
    text-align: left;
    margin-left: 0;
  }
  .plans .main-text {
    max-width: 27.5675rem;
  }
  .plans .wrapper {
    padding: 3rem 1.5rem 0 1.5rem;
  }
  .plans .plan-cards-wrapper {
    justify-content: space-between;
    align-items: stretch;
    bottom: -5rem;
    margin: 0;
  }
  .plans .plan-card {
    max-width: 21.375rem;
    height: 100%;
    margin-bottom: 0;
  }

  .section-support {
    padding: 4rem 0;
  }
  .section-support .section-title {
    text-align: center;
    max-width: 100%;
  }
  .section-support .accordion {
    max-width: 48rem;
    margin: auto;
  }

  .banner {
    padding: 4rem 0;
  }

  footer {
    padding: 4rem 0;
  }
  footer .navbar-list:nth-of-type(2) {
    flex-direction: row;
  }
  footer .navbar-bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  footer .navbar-bottom p:first-of-type {
    margin-bottom: 0;
  }
}
@media (min-width: 960px) {
  .hero-title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  .hero .main-text {
    margin-bottom: 1.5rem;
  }
  .hero-phone {
    max-width: 9.5rem;
    position: relative;
  }
  .hero-phone:first-of-type {
    left: 2rem;
  }
  .hero-phone:last-child {
    top: 7.25rem;
  }

  .testimonials-carousel {
    margin: 0 -2rem 0 auto;
    padding-right: 2rem;
  }

  .about {
    margin-bottom: 6.5rem;
  }
  .about .row:first-of-type {
    margin-bottom: 7rem;
  }
  .about .main-text {
    max-width: 31rem;
  }
  .about .feature-list__item {
    font-size: 1.125rem;
    margin-bottom: 2.8675rem;
    max-width: 30.5rem;
  }
  .about .feature-list__item:last-of-type {
    margin-bottom: 0;
  }

  .how-it-works .dashed-line {
    display: block;
  }

  .plans .main-text {
    margin-bottom: 1rem;
  }

  .features .features-slider-text {
    max-height: 40rem;
  }
  .features .features-slider-text .swiper-wrapper {
    padding-left: 2rem;
  }
  .features .features-slider-text .slide-item__title {
    font-size: 1.5rem;
  }
  .features .features-slider-text .slide-item__text {
    font-size: 1.125rem;
  }
  .features .features-slider-img {
    height: 30rem;
  }

  .banner-wrapper {
    padding: 5rem 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner .section-subtitle br {
    display: block;
  }
  .banner .main-text {
    margin-bottom: 0;
  }
  .banner .btn-warning {
    width: auto;
    flex-shrink: 0;
    margin-left: 3rem;
  }

  footer {
    padding: 4rem 4.5rem;
  }
  footer .navbar-top {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .section-title {
    font-size: 2.25rem;
  }

  .section-subtitle {
    font-size: 1.875rem;
  }

  .hero-title {
    font-size: 4rem;
    line-height: 1.22;
    max-width: 35.75rem;
  }
  .hero .main-text {
    margin-bottom: 1.75rem;
    max-width: 35.75rem;
  }
  .hero .btn-wrapper {
    margin-bottom: 3rem;
  }
  .hero .btn-wrapper .btn-warning, .hero .btn-wrapper .btn-outline-light {
    margin-right: 1.875rem;
  }
  .hero-img-wrapper {
    position: relative;
    padding-bottom: 8rem;
  }
  .hero-phone {
    max-width: 11.5625rem;
    position: relative;
  }
  .hero-phone:first-of-type {
    left: 2.25rem;
  }
  .hero-phone:last-child {
    top: 8.5rem;
  }

  .testimonials-carousel {
    margin: 0 auto 2.5rem auto;
    padding-right: 0;
  }

  .about {
    margin-bottom: 7.75rem;
  }
  .about .row:first-of-type {
    margin-bottom: 8rem;
  }
  .about .row:first-of-type img {
    max-width: 15.75rem;
  }
  .about .section-title {
    max-width: 50rem;
  }
  .about .main-text {
    margin-bottom: 2.6875rem;
  }

  .section-video {
    margin-bottom: 3rem;
  }

  .features .section-title {
    margin-bottom: 3.5rem;
  }
  .features .features-slider-text {
    max-height: 47rem;
  }
  .features .features-slider-text .slide-item__title, .features .features-slider-text .slide-item__text {
    max-width: 21rem;
  }
  .features .features-slider-text #slide-item__number {
    left: 1.25rem;
  }
  .features .features-slider-img {
    height: 31.875rem;
  }

  .how-it-works .card-header {
    margin: 0 auto 4.5rem auto;
  }

  .plans .wrapper {
    padding: 5.25rem 3.5rem 0 3.5rem;
    max-width: 77rem;
    margin: 0 auto 7.75rem auto;
  }
}
@media (min-width: 1300px) {
  .testimonials-carousel {
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .hero-title {
    font-size: 3.75rem;
  }
  .hero .main-text {
    margin-bottom: 2rem;
  }

  .about {
    padding: 0 2.5rem;
    margin-bottom: 8.875rem;
  }
  .about .row:first-of-type {
    margin-bottom: 9rem;
  }
}
@media (min-width: 1600px) {
  .hero-title {
    font-size: 4.5rem;
  }
}
@keyframes pulse {
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.artist {
  background: rgba(18, 19, 22, 0.9) url("../img/bg/hero-artists.svg") no-repeat;
  background-size: 100% auto;
  /*Svg animation*/
}
.artist:before {
  display: none;
}
.artist .navbar-brand {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}
.artist .navbar-brand span {
  margin-left: 0.5rem;
}
.artist .navbar-nav .nav-item:nth-of-type(2) {
  padding: 0;
  border: none;
}
.artist .hero-title {
  font-size: 2rem;
}
.artist .hero .btn-wrapper {
  margin-bottom: 4rem;
}
.artist .hero .devices {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.artist .hero .devices .ipad-img {
  max-width: 80vw;
}
.artist .hero .devices .iphone-img {
  max-width: 34vw;
  position: relative;
  top: 1.5rem;
  right: -20%;
  z-index: 2;
}
.artist .section-video .ratio {
  max-width: 100%;
}
.artist .section-issues {
  padding-bottom: 6rem;
}
.artist .section-issues .section-title {
  margin-bottom: 0.75rem;
}
.artist .section-issues .section-title:last-child {
  color: #FFB84A;
  text-align: center;
  margin-top: 3rem;
}
.artist .section-issues .section-title span {
  color: #FFB84A;
}
.artist .section-issues .main-text {
  text-align: center;
  margin-bottom: 2.5rem;
}
.artist .section-issues .issue-card {
  padding: 2rem 1.5rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  height: 100%;
  min-height: 17.7rem;
}
.artist .section-issues .issue-card:hover {
  border-color: #FFB84A;
}
.artist .section-issues .issue-card__img {
  width: 4rem;
  height: 4rem;
  background: rgba(255, 184, 74, 0.1);
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.artist .section-issues .issue-card__title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 0.5rem;
}
.artist .section-issues .issue-card__text {
  font-size: 1rem;
  line-height: 1.5;
  color: #C9C1BC;
  margin-bottom: 0;
}
.artist .section-issues__arrow {
  text-align: center;
}
.artist .section-issues__arrow svg {
  width: 50vw;
  transform: scale(-1, 1) rotate(45deg);
  max-width: 15.625rem;
}
.artist .section-podcasts {
  padding-bottom: 6rem;
  overflow: hidden;
}
.artist .section-podcasts-animation-container {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
.artist .section-podcasts-iphone {
  width: 10.1875rem;
  margin: 0 0.625rem;
  order: 5;
  flex-shrink: 0;
}
.artist .section-podcasts .cols {
  width: 7rem;
  flex-shrink: 0;
  margin: 0 0.625rem;
}
.artist .section-podcasts .cols img:first-of-type {
  margin-bottom: 1.25rem;
}
.artist .section-podcasts .cols.upper {
  padding-top: 3.75rem;
}
.artist .section-podcasts .cols.lower {
  padding-top: 4.75rem;
}
.artist .section-podcasts .column-1 {
  order: 1;
}
.artist .section-podcasts .column-2 {
  order: 2;
}
.artist .section-podcasts .column-3 {
  order: 3;
}
.artist .section-podcasts .column-4 {
  order: 4;
}
.artist .section-podcasts .column-5 {
  order: 6;
}
.artist .section-podcasts .column-6 {
  order: 7;
}
.artist .section-podcasts .column-7 {
  order: 8;
}
.artist .section-podcasts .column-8 {
  order: 9;
}
.artist .section-difference {
  padding-bottom: 9.375rem;
}
.artist .section-difference .section-title {
  margin-bottom: 1.875rem;
}
.artist .section-difference .accordion {
  margin-top: 2.5rem;
}
.artist .section-difference .accordion-item {
  background-color: transparent;
  border: none;
  margin-bottom: 2.25rem;
}
.artist .section-difference .accordion-button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
}
.artist .section-difference .accordion-button:focus {
  box-shadow: none;
}
.artist .section-difference .accordion-button:before {
  flex-shrink: 0;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f054";
  margin-right: 1.625rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in-out;
}
.artist .section-difference .accordion-button:after {
  display: none;
}
.artist .section-difference .accordion-button[aria-expanded=true] {
  color: #FFB84A;
}
.artist .section-difference .accordion-button[aria-expanded=true]:before {
  color: #FFB84A;
  transform: rotate(90deg);
}
.artist .section-difference .accordion-body {
  padding-top: 0.875rem;
  color: #C9C1BC;
  font-size: 1rem;
  line-height: 1.5;
  padding-left: 2.25rem;
}
.artist .section-difference .img-fluid {
  max-width: 63vw;
  width: 100%;
}
.artist .section-steps {
  padding-bottom: 6rem;
}
.artist .section-steps .section-title {
  margin-bottom: 2.5rem;
}
.artist .section-steps .join-step-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  padding: 4.25rem 1.5rem;
  text-align: center;
}
.artist .section-steps .join-step-card-img-top {
  margin-bottom: 2rem;
}
.artist .section-steps .join-step-card-text {
  color: #7B7673;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}
.artist .section-steps .join-step-card-title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
}
.artist .section-steps .join-step-card:last-of-type {
  margin-bottom: 0;
}
.artist .section-steps .join-step-card:first-of-type .join-step-card-img-top, .artist .section-steps .join-step-card:nth-of-type(2) .join-step-card-img-top {
  width: 5.5rem;
}
.artist .section-steps .join-step-card:nth-of-type(3) .join-step-card-img-top {
  width: 6.125rem;
}
.artist .section-banner {
  padding-bottom: 6rem;
}
.artist .section-banner .banner-wrapper {
  background: #1F2023;
  border: 4px solid #FFB84A;
  border-radius: 1.5rem;
  padding: 2.5rem 1.25rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.artist .section-banner .banner-wrapper__img {
  margin: 0 -1rem 3.75rem -1rem;
}
.artist .section-banner .section-title {
  font-size: 1.5rem;
  margin-bottom: 0.24rem;
}
.artist .section-banner .section-title span {
  color: #FFB84A;
}
.artist .section-banner .main-text {
  margin-bottom: 1.5rem;
}
.artist .section-banner .btn-warning {
  width: 100%;
}
.artist footer {
  padding-top: 3rem;
  border-top: 1px solid #363532;
}
.artist footer .navbar-list {
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .artist .navbar-nav {
    margin-right: 3.125rem;
  }
  .artist .hero {
    position: relative;
  }
  .artist .hero-title {
    font-size: 2rem;
  }
  .artist .hero .devices {
    position: absolute;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  .artist .hero .devices .ipad-img {
    max-width: 77%;
  }
  .artist .hero .devices .iphone-img {
    max-width: 8rem;
    right: -17%;
  }
  .artist .section-issues {
    position: relative;
  }
  .artist .section-issues .section-title, .artist .section-issues .main-text {
    text-align: left;
  }
  .artist .section-issues__arrow {
    width: 50%;
    right: 0;
    top: 0;
    position: absolute;
  }
  .artist .section-issues__arrow svg {
    width: auto;
    transform: scale(-1, 1) rotate(90deg);
  }
  .artist .section-podcasts-animation-container {
    margin-top: 4rem;
  }
  .artist .section-podcasts-iphone {
    width: 13rem;
  }
  .artist .section-podcasts .cols {
    width: 10rem;
  }
  .artist .section-difference .img-fluid {
    max-width: 100%;
  }
  .artist .section-steps .section-title {
    margin-bottom: 1rem;
  }
  .artist .section-steps .main-text {
    margin-bottom: 3.5rem;
  }
  .artist .section-steps .join-step-card {
    padding: 2rem 1.5rem;
    margin-bottom: 0;
  }
  .artist .section-steps .join-step-card-title {
    font-size: 1.125rem;
  }
  .artist .section-banner .banner-wrapper {
    padding: 3rem 1.25rem;
  }
  .artist .section-banner .btn-warning {
    width: 13.875rem;
  }
  .artist footer .navbar-list {
    flex-direction: row;
  }
}
@media (min-width: 990px) {
  .artist .hero-title {
    font-size: 2.25rem;
  }
  .artist .hero-svg {
    position: absolute;
  }
  .artist .hero .devices .ipad-img {
    max-width: 88%;
  }
  .artist .hero .devices .iphone-img {
    max-width: 11rem;
    right: -22%;
  }
  .artist .section-video {
    padding: 4rem 0;
  }
  .artist .section-issues {
    padding: 4rem 0;
  }
  .artist .section-issues .section-title:last-child {
    margin-top: 5rem;
  }
  .artist .section-issues__arrow {
    position: inherit;
    width: 100%;
  }
  .artist .section-issues__arrow svg {
    width: auto;
    max-width: 100%;
    transform: scale(1, 1) rotate(0);
  }
  .artist .section-podcasts {
    padding: 4rem 0;
  }
  .artist .section-podcasts-iphone {
    width: 18rem;
    margin: 0 1rem;
  }
  .artist .section-podcasts .cols {
    width: 13rem;
    margin: 0 1rem;
  }
  .artist .section-podcasts .cols img:first-of-type {
    margin-bottom: 2rem;
  }
  .artist .section-podcasts .cols.upper {
    padding-top: 6rem;
  }
  .artist .section-podcasts .cols.lower {
    padding-top: 8rem;
  }
  .artist .section-difference {
    padding: 4rem 0;
  }
  .artist .section-difference .section-title {
    margin-bottom: 3.5rem;
  }
  .artist .section-difference .img-fluid {
    max-width: 26rem;
  }
  .artist .section-steps {
    padding: 4rem 0;
  }
  .artist .section-steps .join-step-card {
    padding: 4rem 1.5rem 3rem 1.5rem;
  }
  .artist .section-steps .join-step-card-img-top {
    margin-bottom: 3.1875rem;
    height: 7.75rem;
    object-fit: cover;
  }
  .artist .section-steps .join-step-card-title {
    font-size: 1.5rem;
  }
  .artist .section-steps .join-step-card:first-of-type .join-step-card-img-top, .artist .section-steps .join-step-card:nth-of-type(2) .join-step-card-img-top {
    width: 7.75rem;
  }
  .artist .section-steps .join-step-card:nth-of-type(3) .join-step-card-img-top {
    width: 8.5625rem;
  }
  .artist .section-banner {
    padding-bottom: 4rem;
  }
  .artist .section-banner .banner-wrapper {
    padding: 4.875rem 1.25rem 6rem 1.25rem;
  }
  .artist .section-banner .banner-wrapper__img {
    margin: 0 auto 6.625rem auto;
    max-width: 56.5rem;
  }
  .artist .section-banner .main-text {
    margin-bottom: 2rem;
  }
  .artist .section-support {
    padding-bottom: 7.5rem;
  }
}
@media (min-width: 1200px) {
  .artist .navbar-brand {
    font-size: 1.625rem;
  }
  .artist .navbar-brand span {
    margin-left: 0.5rem;
  }
  .artist .hero {
    padding: 8rem 0 4rem 0;
  }
  .artist .hero-title {
    font-size: 3rem;
  }
  .artist .hero .main-text {
    margin-bottom: 2.25rem;
  }
  .artist .hero .devices .ipad-img {
    max-width: 60%;
    width: 100%;
  }
  .artist .hero .devices .iphone-img {
    max-width: 13rem;
    right: -13%;
    width: 100%;
  }
  .artist .section-podcasts-iphone {
    width: 22.5rem;
    margin: 0 1.4rem;
  }
  .artist .section-podcasts .cols {
    width: 15.3125rem;
    margin: 0 1.4rem;
  }
  .artist .section-podcasts .cols img:first-of-type {
    margin-bottom: 2.8125rem;
  }
  .artist .section-podcasts .cols.upper {
    padding-top: 9.5rem;
  }
  .artist .section-podcasts .cols.lower {
    padding-top: 12rem;
  }
  .artist .section-difference .img-fluid {
    max-width: 32.625rem;
  }
  .artist .section-steps .join-step-card-title {
    font-size: 1.875rem;
  }
  .artist .section-banner .banner-wrapper {
    padding: 4.875rem 1.25rem 7.75rem 1.25rem;
  }
}
@media (min-width: 2000px) {
  .artist .hero .devices .ipad-img {
    max-width: 24vw;
  }
  .artist .hero .devices .iphone-img {
    max-width: 10vw;
    right: -12%;
  }
}
.artist .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "SF Pro Display", sans-serif;
  background: rgba(18, 19, 22, 0.9);
  overflow-x: hidden;
}

.container-fluid {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .container-fluid {
    padding: 0 1.5rem;
  }
}
@media (min-width: 960px) {
  .container-fluid {
    padding: 0 2rem;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    padding: 0 3rem;
  }
}
@media (min-width: 1400px) {
  .container-fluid {
    padding: 0 7rem;
    max-width: 1440px;
    margin: auto;
  }
}

/*# sourceMappingURL=app.css.map */
