@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "hamburgers.css";
.navbar {
  border-bottom: 1px solid #363532;
  background-color: transparent;
  padding: 2rem 0;
  transition: background-color 0.5s ease-in-out;
}
.navbar.nav-active {
  background-color: #121316;
}
.navbar-brand {
  padding: 0;
  z-index: 11;
}
.navbar-collapse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background: #181A1D;
  padding: 5.625rem 1.25rem 0 1.25rem;
  z-index: 10;
}
.navbar-collapse > div {
  height: 100vh;
}
.navbar .hamburger {
  padding: 0;
  z-index: 11;
}
.navbar .hamburger-box {
  width: 1.25rem;
  height: 1rem;
}
.navbar .hamburger-inner {
  background-color: #fff;
  width: 1.25rem;
  height: 0.125rem;
}
.navbar .hamburger-inner:before, .navbar .hamburger-inner:after {
  background-color: #fff !important;
  width: 1.25rem;
  height: 0.125rem;
}
.navbar .hamburger-inner:before {
  top: 0.375rem;
}
.navbar .hamburger-inner:after {
  top: 0.75rem;
}
.navbar .hamburger.is-active-inner:before, .navbar .hamburger.is-active-inner:after {
  background-color: #C9C1BC;
  top: -0.375rem;
}
.navbar .hamburger:focus {
  box-shadow: none;
}
.navbar .moda-btn {
  color: #121316;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  background-color: #FFB84A;
  border-radius: 0.375rem;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  width: 100%;
}
.navbar .moda-btn:hover {
  background: #F4F5F6;
}
.navbar .moda-btn:focus {
  box-shadow: none;
}
.navbar .nav-text {
  margin-bottom: 2.25rem;
  margin-top: 0.625rem;
  padding-left: 0.5rem;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #FFB84A;
}
.navbar-nav .nav-item a {
  padding: 0.625rem 0.5rem;
  color: #fff;
  font-size: 1rem;
  font-family: "SF Pro Display", sans-serif;
  line-height: 1.5;
}
.navbar-nav .nav-item a:hover {
  color: #FFB84A;
}
@media (min-width: 768px) {
  .navbar {
    padding: 1rem 0;
  }
  .navbar-collapse {
    position: static;
    width: auto;
    background: transparent;
    padding: 0;
  }
  .navbar-collapse > div {
    height: auto;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .navbar-nav .nav-item {
    margin-right: 2.5rem;
    margin-top: 0.375rem;
  }
  .navbar-nav .nav-item:last-of-type {
    margin-right: 0;
  }
  .navbar-nav .nav-item:nth-of-type(2) {
    padding-left: 2.5rem;
    border-left: 1px solid #fff;
  }
  .navbar-nav .nav-item a {
    padding: 0;
    color: #fff;
    font-size: 0.875rem;
    font-family: "SF Pro Display", serif;
    line-height: 1;
    font-weight: 400;
  }
  .navbar .moda-btn {
    background-color: #fff;
    width: auto;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  .navbar .moda-btn:hover {
    background: #F4F5F6;
  }
  .navbar .moda-btn:focus {
    box-shadow: none;
  }
  .navbar .nav-text {
    margin-bottom: 0;
    font-family: "SF Pro Display", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    color: #fff;
    margin-right: 2rem;
  }
}
@media (min-width: 960px) {
  .navbar {
    padding: 1rem 0;
  }
  .navbar-brand {
    padding: 0;
    margin-right: 2.5rem;
  }
  .navbar-nav .nav-item .nav-link {
    padding: 0;
  }
  .navbar .moda-btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .navbar {
    padding: 1rem 0;
  }
}
@media (min-width: 1400px) {
  .navbar {
    padding: 1rem 0;
  }
}

.modal::-webkit-scrollbar {
  width: 2px;
}
.modal-content {
  background: #272625;
  box-shadow: 10px 20px 50px rgba(19, 18, 17, 0.25);
  border-radius: 16px;
}
.modal-header {
  padding: 1.875rem;
  border: none;
  border-radius: 0;
}
.modal-header .btn-close {
  width: 0.75rem;
  height: 0.75rem;
  background-image: url("../img/close-icon.svg");
  background-size: cover;
  padding: 0;
}
.modal-header .btn-close:focus {
  box-shadow: none !important;
}
.modal-body {
  border: none;
  padding: 0.625rem 1.875rem 1.875rem 1.875rem;
  color: #C9C1BC;
  font-family: "SF Pro Display", sans-serif;
}
.modal-body__success-message {
  padding: 5rem 4rem;
  text-align: center;
}
.modal-title {
  font-weight: 600;
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 0.75rem;
  line-height: 1.33;
  color: #fff;
}
.modal-subtitle {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.66;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #fff;
}
.modal-text {
  font-size: 1.125rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 400;
}
.modal-text small {
  font-size: 1rem;
}
.modal-form {
  margin-bottom: 2.75rem;
}
.modal-form__label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
}
.modal-form__control {
  background: #FFECCF;
  border-radius: 6px;
  padding: 0.875rem 1rem;
  color: #121316;
  font-size: 0.875rem;
  line-height: 1.5;
  width: 100%;
  border: none;
  height: 3rem;
}
.modal-form__control:focus {
  outline: none;
  border: none;
}
.modal-form__control::placeholder {
  color: #7B7673;
}
.modal-form textarea {
  height: 6.875rem;
}
.modal-form-check {
  padding: 0.35rem 1.25rem;
  background-color: transparent;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}
.modal-form-check__label {
  font-size: 0.875rem;
  color: #C9C1BC;
}
.modal-form-check__input {
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
  background: transparent;
  border-color: #4F4C4A;
}
.modal-form-check__input:focus {
  border-color: #FFB84A;
  box-shadow: none;
  outline: none;
}
.modal-form-check__input:checked {
  background-color: transparent;
  border-color: #4F4C4A;
  background-image: url("../img/check-icon-orange.svg") !important;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}
.modal-form-check:hover .modal-form-check__input {
  border-color: #4F4C4A;
}
.modal-form .btn-warning {
  width: 100%;
  margin-top: 2rem;
}
.modal__icon-box {
  width: 4rem;
  height: 4rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem auto;
}
@media (min-width: 576px) {
  .modal.modal-join-list .modal-dialog {
    max-width: 29.5rem;
  }
  .modal.modal-join-list__success .modal-dialog {
    max-width: 36rem;
  }
  .modal-body {
    border: none;
    padding: 0.625rem 4rem 3.75rem 4rem;
  }
  .modal-body__success-message {
    padding: 5rem 4rem;
    text-align: center;
  }
  .modal.modal-artists .modal-dialog {
    max-width: 38.875rem;
  }
}

.terms-wrapper {
  padding-top: 10rem;
}

.terms-list {
  list-style: upper-roman;
  color: rgba(201, 193, 188, 0.8);
  font-size: 1rem;
  font-family: "SF Pro Display", serif;
  font-weight: 300;
}

.contact {
  background: rgba(18, 19, 22, 0.9);
  min-height: 100vh;
  height: 100%;
  padding: 9rem 0 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-box {
  height: 100%;
  background: #1F2023;
  border: 0.25rem solid #FFB84A;
  border-radius: 1.5rem;
  padding: 3rem 1rem;
}
.contact .section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.contact .main-text {
  margin: 0 auto 2rem auto;
  max-width: 29.125rem;
  text-align: center;
}
.contact-form {
  color: #C9C1BC;
  max-width: 30.875rem;
  margin: auto;
}
@media (min-width: 768px) {
  .contact {
    padding: 9rem 0 4rem 0;
  }
  .contact.artist {
    padding: 14rem 0 4rem 0;
  }
  .contact .contact-box {
    padding: 4.5rem 0;
  }
}
@media (min-width: 990px) {
  .contact {
    padding: 9.575rem 0 4.375rem 0;
  }
  .contact .contact-box {
    padding: 5.625rem 0;
  }
  .contact .section-title {
    font-size: 3rem;
  }
}

html, body {
  width: 100%;
  position: relative;
  overflow-x: hidden !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "SF Pro Display", sans-serif;
  background: rgba(18, 19, 22, 0.9);
  position: relative;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .container-fluid {
    padding: 0 1.5rem;
  }
}
@media (min-width: 960px) {
  .container-fluid {
    padding: 0 2rem;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    padding: 0 3rem;
  }
}
@media (min-width: 1400px) {
  .container-fluid {
    padding: 0 7rem;
    max-width: 1440px;
    margin: auto;
  }
}

.text-primary {
  color: #FFB84A !important;
}

/*# sourceMappingURL=app.css.map */
