.contact {
  padding-top: 3.875rem;
  font-family: 'Roboto Flex', sans-serif;
  &-box {
    height: 100%;
    background: #1F2023;
    border: 0.25rem solid #FFB84A;
    border-radius: 1.5rem;
    padding: 3rem 1rem;
    
  }

  .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .main-text {
    margin: 0 auto 2rem auto;
    max-width: 27rem;
    text-align: center;
  }

  &-form {
    color: $gray;
    max-width: 30.875rem;
    margin: auto;
  }

  @media (min-width: 768px) {
    &.artist{
      padding: 14rem 0 4rem 0;
    }
    .contact-box{
      padding: 4.2rem 0;
    }
  }
  @media (min-width: 990px) {
    .section-title {
      font-size: 2.25rem;
    }
  }
}