.modal {
  background: rgba(18, 19, 22, 0.75);

  &::-webkit-scrollbar {
    width: 2px;
  }

  &-content {
    background: #272625;
    box-shadow: 10px 20px 50px rgba(19, 18, 17, 0.25);
    border-radius: 16px;
    overflow: hidden;
  }

  &-header {
    padding: 1.875rem;
    border: none;
    border-radius: 0;

    .btn-close {
      width: 0.75rem;
      height: 0.75rem;
      background-image: url('../img/close-icon.svg');
      background-size: cover;
      padding: 0;

      &:focus {
        box-shadow: none !important;
      }
    }
  }

  &-body {
    border: none;
    padding: 0.625rem 1.875rem 1.875rem 1.875rem;
    color: $gray;
    font-family: 'SF Pro Display', sans-serif;

    &__success-message {
      padding: 5rem 4rem;
      text-align: center;
    }
  }

  &-title {
    font-weight: 600;
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 0.75rem;
    line-height: 1.33;
    color: $white;
  }

  &-subtitle {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.66;
    text-align: center;
    margin-bottom: 0.5rem;
    color: $white;
  }

  &-text {
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 400;

    small {
      font-size: 1rem;
    }
  }

  &-form {
    margin-bottom: 2.75rem;

    &__label {
      display: block;
      margin-bottom: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.5;
      font-weight: 400;
    }

    &__control {
      background: #FFECCF;
      border-radius: 6px;
      padding: 0.875rem 1rem;
      color: $dark;
      font-size: 0.875rem;
      line-height: 1.5;
      width: 100%;
      border: none;
      height: 3rem;

      &:focus {
        outline: none;
        border: none;
      }

      &::placeholder {
        color: #7B7673;
      }
    }

    textarea {
      height: 6.875rem;
    }

    &-check {
      padding: 0.35rem 1.25rem;
      background-color: transparent;
      border-radius: 0.5rem;
      transition: all 0.3s ease-in-out;

      &__label {
        font-size: 0.875rem;
        color: $gray;
      }

      &__input {
        width: 1rem;
        height: 1rem;
        border-radius: 0.25rem;
        background: transparent;
        border-color: #4F4C4A;

        &:focus {
          border-color: $primary;
          box-shadow: none;
          outline: none;
        }

        &:checked {
          background-color: transparent;
          border-color: #4F4C4A;
          background-image: url('../img/check-icon-orange.svg') !important;
          background-position: center;
          background-size: 80%;
          background-repeat: no-repeat;
        }
      }

      &:hover {
        .modal-form-check__input {
          border-color: #4F4C4A;
        }
      }
    }

    .btn-warning {
      width: 100%;
      margin-top: 2rem;
    }
  }

  &__icon-box {
    width: 4rem;
    height: 4rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem auto;
  }

  @media (min-width: 576px) {
    &.modal-join-list {
      .modal-dialog {
        max-width: 29.5rem;
      }
    }
    &.modal-join-list__success {
      .modal-dialog {
        max-width: 36rem;
      }
    }
    &-body {
      border: none;
      padding: 0.625rem 4rem 3.75rem 4rem;

      &__success-message {
        padding: 5rem 4rem;
        text-align: center;
      }
    }
    &.modal-artists {
      .modal-dialog {
        max-width: 38.875rem;
      }
    }
  }
}

#popupSliderVideo .modal-content {
  background: transparent;
}
#popupSliderVideo .modal-dialog {
  max-width: 100%;
  width: auto !important;
  display: flex;
}

#popupSliderVideo.show{
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slider-video{
  width: auto!important;
  height: auto;
  max-height: 100vh;
}